.show-title {
    color: #333333;
    font-family: "Merriweather", "Georgia", serif;
    line-height: 1.3;
}

.show-title h2 {
    font-weight: bold;
    font-size: 24px;
}

.show-title h3 {
    font-size: 16px;
    margin: 4px 0px 4px 0px;
    
}

.show-img img{
    cursor: pointer;
    margin-right: 15px;
   
}

.show-img {
    display: flex;
    flex-direction: row;
    padding: 5px 0 65px 0px;
    width: 650px;
    margin: 15px 0 0 370px;
}

.show-title p {
    line-height: 21px;
    font-size: 14px;
    color: #181818;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    top:11.4px;
  }

.dropdown-btn3 {
    display: inline-block;
  }

.dropdown-content2 {
    display: none;
  }

.nn2 {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #333333;
  padding: 0 8px;
  cursor: pointer;
}

.show2 {
    background-color: #FFFFFF;
    position: absolute;
    left: -225px;
    width: 250px;
    display: block;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.show2 ul {
  color: #333333;
  display: block;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 32px;
}

.nn2:hover {
    text-decoration: underline;
}

.want {
    background-color: #409D69;
    color: #fff;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    height: 28px;
    padding: 6px 24px 6px 8px;
    border: transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 5%;
    border-right: 2px solid forestgreen;
}

.shelf-list {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.want2 {
    background-color: #f2f2f2;;
    color: black;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    height: 28px;
    padding: 6px 24px 6px 8px;
    border: transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 5%;
    border: 1px solid #dddddd;
}

.item-img {
    cursor: pointer;
}





  

