.home-page {
    height: 400px;
    margin: 0;

}

.home-nav {
    display: flex;
    justify-content: center;
    height: 15%;
}

.home-nav-title {
    margin-right: 450px;
    font-size: 50px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: red 
}

.reads {
    font-weight: 300;

}

.home-login {
    margin-top: 20px;
    height: 100px;
    margin-right: 85px;

}