.footer {
    background-color: #f9f8f4;;
    text-align:  center;
    left: 0;
    height: 172px;
    padding-top: 25px;
    padding-bottom: 32px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -220px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.column2 {
  display: block;
  text-align: left;
 
}

.column1 {
  display: block;
  margin-right: 200px;
  text-align: left;
}


.colmn1, .column2 {
    float: left;
    width: 25%;
}


.column1 h3 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15;
    margin: 15px 15px 15px 0;
    text-transform: uppercase;
    color: #767676;
    text-align: left;

}

.column2 h3 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15;
    margin: 15px 15px 15px 0;
    text-transform: uppercase;
    color: #767676;
    
}

.column1 a, .column2 a {
  text-decoration: none;
  color:  #4d2600;
  display: block;

  font-size: 14px;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

.footer2 {
  margin-bottom: auto;
}


