.home-nav {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  overflow: visible;
  background-color: #F4F1EA;
  padding: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.home-title {
    display: block;
    margin-left: 230px;
     
}

.home-books {
    width: 50%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    font-size: 30px;
}

.home-books-a {
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
    display: inline-block;
    color: #382110;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 50px;

}

.home-books-a:hover {
    background-color: #4d2600;
    color: white;
}


   

.dropdown-btn {
    font-weight: normal;
  
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    /* padding: 8px 10.5px 8px 10.5px; */
    height: 33px;
    text-align: center;
    margin-right: 3px;
    border-radius: 50px;
    /* background-color: #FFFFFF;*/
    border: 1px solid #D8D8D8; 
  }
  
  .dropdown-btn:hover, .dropbtn:focus {
    background-color: #58371F;
    padding: 8px 10.5px 8px 10.5px;
    border: 0px solid #D8D8D8;
    border-radius: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 250px;

  }

  .dropdown-btn2 {
    height: 33px;
    text-align: center;
    margin-right: 3px;
    background-color: #58371F;
    padding: 8px 10.5px 8px 10.5px;
    border: 0px solid #D8D8D8;
    border-radius: 0;
  }
  
  .dropdown-content {
    display: none;
    /* position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */

  }
  

 
  .show {
    background-color: #FFFFFF;
    position: absolute;
    left: -191px;
    top:50px;
    width: 250px;
    display: block;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.show ul {
  color: #333333;
  display: block;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 32px;
}
 
.nn {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #333333;
  padding: 0 8px;
}



.show ul li:last-child {
  box-sizing: content-box;
  width: 94%;
  border-top: 1px solid #D8D8D8;
}

.show ul li a:hover {
    text-decoration: underline;
}

.nm {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 16px;

}



    form.example input[type=text] {
        padding: 10px;
        border-right: 0.5px solid#f1f1f1;
        border-left: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        float: left;
        width: 400px;
        background: #f1f1f1;
        height: 10px;
      }

      .example {
        margin:auto;
        max-width:500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
      }
      
      form.example button {
        float: left;
        height: 32px;
        padding: 10px;
        background: #f1f1f1;
        border-left: 0.5px solid #f1f1f1;
        color: rgb(165, 165, 165);
        border-right: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-left: none;
        cursor: pointer;
    
        margin: 15px 15px 15px 0;
      }
      
   
      
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }

      .color {
        background-color: rgba(244,241,234,0.5)
        
      }

