.login-only-form {
    display: inline-block;
    height: 410px;
    width: 600px;
    background-color: white;
    padding: 28px 10px 34px 10px;
    margin: 15px;
    text-align: center;
    border: 1px solid #d0d0c8;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 1px #d0d0c8;
    -webkit-box-shadow: 0px 1px 1px #d0d0c8;
    box-shadow: 0px 1px 1px #d0d0c8;
  
}
.errors-handle {
    list-style: none;
}

.login-only {
    background-image: url(tan-bg-texture);
    display: block;
    width: 100%;
    height: 950px;
    position: absolute;
    text-align: center;
}

.book-row {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.errors {
    background-color: #fdb7ad;
    border: 1px solid #FA604A;
    border-radius: 3px;
    margin: 16px 0;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
}

.login-only-boxes {
  width: 300px;
  height: 40px;
  padding: 12px 20px;
  bottom: 700px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-only-btn {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right:150px;
}

.login-only-btn:hover {
    background-color:rgb(233, 230, 208);
}


.login-only-form h1 {
    color: #382110;
    background-color: transparent;
    padding: 0 0 2px 0;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    color: #382110;
    line-height: 24px;
    margin: 4px 0px 4px 0px;

}

.title2 {
    position: absolute;
    left: 15px;
    top: 20px;
}

.member {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 250px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
    margin-right: 18px;
}
.member a {
    margin-left: 10px;
    color: #00635d;
}
