.main-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 370px;
    margin-top: 10px;
    background-color:  #FFFFFF;
}

.main-search h1 {
    color: #382110;
    padding: 0px 0px 2px 0px;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    line-height: 24px;
    margin: 4px 0px 15px 0px;
    text-align: left;
}

.form-search {
    display: block;
    height: 81px;
    width: 625px;
    background-color: #eeeeee;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 12px;
    color: #181818;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
  
}

.border {
    padding-bottom: 88px;
    border-bottom: 2px solid #d7d7d7;
}


form.example3 input[type=text] {
    padding: 10px 5px 10px 5px;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    font-size: 14px;
    width: 80%;
    margin-bottom: 10px;

}

form.example3 button {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    margin-left: 5px;
}

.search-errors span{
    position: absolute;
    bottom: 646px;
    font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #382110;
    font-size: 14px;
}

.search-errors p {
    margin-top: 30px;
    font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
}

.search-errors ul {
    margin-left: 30px;
}




