
    #new{
        margin-bottom: 10px;
        margin-top: 0;
        color: #000;
        text-align: left;
        font-size: 18px;
        font-style: bold;
        font-weight: normal;
        font-family: 'Lato', sans-serif;
        
    }

    .signup-input-boxes{
        width: 270px;
        padding: 7px 5px;
        margin: 0;
        font-size: 16px;
        font-weight: lighter;
        display: block;
        background: #FFFFFF;
        border-radius: 3px;
        border: #DCD6CC 1px solid;
        color: #333333;
        font-family: 'Lato', sans-serif;
        position: relative;
        margin-top: 5px;
    }
    
    .signup-submit{
        padding: 8px;
        border: 0px;
        border-radius: 4px;
        background-color: #fdd05f;
        font-size: 18px;
        line-height: 22px;
        width: 85px;
        display: block;
        position: relative;
        margin-top: 5px;
        margin-right: 10px;
    
        font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    }

    
    .signupbox:hover{
        background-color: #FFD56D;
    }

    .signup-only-form h1 {
        color: #382110;
        background-color: transparent;
        padding: 0 0 2px 0;
        font-size: 20px;
        font-family: "Merriweather", Georgia, "Times New Roman", serif;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 15px;
        color: #382110;
        line-height: 24px;
        margin: 4px 0px 4px 0px;
    
    }