
.splash-page {
    margin: 0;
    height: 370px;
    background-image: url("nav_bar.png");
    background-position: center;
}

.splash-header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* display: flex;
    justify-content: center;
    height: 65px;
    padding-top: 10px;
    color: #382110;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif; */
}



.title {
    display: block;
    margin-right: 435px;
    padding-top: 4px;
    
}

.splash-login {
    display: block;

}

 

.signup {

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-top: 58px;
    margin-right: 130px;
    margin-left: 75px;

}

.splash-signup {
    height: 100px;
  
} 

.demo {
    position: absolute;
    bottom: 550px;
}

.demo-btn{
    padding: 5px;
    border: 2px solid black;
    border-radius: 14px;
    background-color: rgb(170, 168, 165);
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    display: block;
    position: relative;
    color: white;

}


.demo-btn:hover{
    background-color: wheat;
}